section
{
  width: 300px;
  background-color: #eee;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #ccc;

  /* Rounded corners */
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius:  10px;
  border-radius:         10px;
}
h1
{
  margin-top: 10px;
}
h1, p
{
  margin-left: 22px;
}
.field p
{
  margin-bottom: 10px;
}
.field label
{
  font-size: 120%;
}
.field input
{
  width: 250px;
  height: 30px;
}
input[type="checkbox"] + label
{
  display: inline;
}

.button
{
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: -49px;
}
