/*
 *=require_self
 *=require_directory .
 */
/* Global */
/* Flash messages */
/* Taken from the Blueprint Framework */
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
/*---------------------------------------------------------------------------*/

/* Header */
header
{
  background-color: #2a2a2a;
  height: 40px;
  border-top: 3px solid #000;
  border-bottom: 2px solid #000;
}
header section
{
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
}
header section nav p
{
  margin: 0;
}
header section nav p.left
{
  float: left;
  margin-left: 10px;
}
header section nav p.right
{
  float: right;
  margin-right: 10px;
}

/* Header Links */
header a:link,
header a:visited
{
  color: #eee;
}
header a:hover,
header a:active
{
  color: #c3c3c3;
}

/* Navigation menu */
.container > nav
{
  background-color: #373737;

  /* Rounded Corners on the bottom */
  /* Bottom right */
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius-bottomright: 10px;
  /* Bottom left */
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;

  margin-bottom: 20px;
}
.container > nav ul li
{
  diplay: inline;
}
.container > nav ul li a
{
  display: block;
  float: left;
  margin: -5px 20px 10px 20px;
}

/*Navigation Links*/
.container > nav a:link,
.container > nav a:visited
{
  color: #eee;
}
.container > nav a:hover,
.container > nav a:active
{
  color: #c3c3c3;
}

/* Main content */
section#main-content
{
}

/* Pagination */
nav.pagination
{
  text-align: center;
}
nav.pagination span
{
  margin: 0 5px;
}
nav.pagination span.page a
{
  border: 1px solid #666;
  padding: 5px 10px;
  text-decoration: none;
}
nav.pagination span.page a:hover
{
  background-color: #ddd;
}
nav.pagination span.current
{
  border: 1px solid #666;
  padding: 5px 6px 5px 10px;
  margin-right: 9px;
  background-color: #222;
  color: #eee;
}

/* Debug Dump */
.debug_dump
{
  margin: 20px 0;
  padding: 10px;
  background-color: #fcc;
  border: 1px solid red;

  /* Rounded corners */
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius:  10px;
  border-radius:         10px;
}
