/* Header */
header
{
  background-color: #333;
  height: 40px;
  color: #fff;
}

header section
{
  font-size: 120%;
  border-bottom: 2px solid #262626;
  height: 37px;
}

header nav
{
  width: 950px;
  margin: 0 auto;
  padding-top: 10px;
}

nav p
{
  margin: 0;
}

/* Main content */
.container section
{
  font-size: 120%;
  padding: 20px;
  background-color: #dfdfdf;
  
  /* Rounded Corners on the bottom */
  /* Bottom right */
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius-bottomright: 10px;
  /* Bottom left */
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Form errors */
#error_explanation
{
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

/* Rails debug dump */
pre.debug_dump
{
  background-color: #ffdcdc;
  padding: 10px;
  border: 1px solid red;
  
  /* Rounded corners */
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius:  10px;
  border-radius:         10px;
}