section#new-posts ul
{
  width: 420px;
  margin: 0 auto;
}
section#new-posts ul li
{
  display: inline;
}
section#new-posts ul li a
{
  display: block;
  float: left;

  width: 48px;
  height: 48px;

  margin: 0 38px 0 38px;
  padding-top: 55px;

  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
section#new-posts ul li a#new-text-post  { background: url("../text.png")  center top no-repeat; }
section#new-posts ul li a#new-image-post { background: url("../image.png") center top no-repeat; }
section#new-posts ul li a#new-quote-post { background: url("../quote.png") center top no-repeat; }
section#new-posts ul li a#new-link-post  { background: url("../link.png")  center top no-repeat; }
section#new-posts ul li:first-child a
{
  margin-left: 0;
}
section#new-posts ul li:last-child a
{
  margin-right: 0;
}
section#new-posts ul li a:active
{
  position: relative;
  top: 1px;
  padding-top: 54px;
}

section.quote-post q
{
  font-style: italic;
  font-size: 30px;
  font-family: Georgia, serif;
}
