<div class="field quote-field">
  <p><%= f.label :quote, "Quote" %></p>
  <p><%= f.text_field :quote %></p>
</div>

<div class="field quote-source-field">
  <p><%= f.label :quote_source %></p>
  <p><%= f.text_field :quote_source %></p>
</div>
