<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag "blueprint/screen", "sessions" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>